@import url(reset.css);

.container {
  max-width: 1024px;
  padding: 0;
  margin: 0 auto;
}

/*Header*/
header {
  border-bottom: 1px solid #aaa;
  position: relative;
}

header .container {
  display: flex;
}

.h_top {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 15px 10px;
  border-right: 1px solid #aaa;
}

.h_logo {
  display: inline-block;
  width: 133px;
  height: 45px;
  background: url(../images/hoam/header.gif) no-repeat;
}

.btn_menu {
  width: 65px;
  height: 45px;
  background: url(../images/hoam/gnb.gif) no-repeat;
  background-position: -20px -15px;
  cursor: pointer;
}

.btn_menu.active {
  background-position: -212px -15px;
}

.h_bottom {
  width: 30%;
  padding: 15px 20px;
  color: #666;
  font-weight: 600;
}

.h_bottom ul {
  display: flex;
  align-items: center;
  width: 95%;
  height: 100%;
  letter-spacing: -1px;
  text-align: center;
}

.h_bottom li:not(:last-child) {
  padding-right: 10px;
}

.h_bottom a {
  display: block;
  position: relative;
  font-size: 0.8em;
}

.h_bottom li:first-child a {
  color: #b38f40;
}

.h_bottom li:not(:last-child) a:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -8px;
  width: 2px;
  height: 2px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #666;
}

.nav_wrap {
  position: absolute;
  left: 0;
  width: 100%;
}

.nav_wrap nav {
  display: flex;
}

/*Footer*/
footer {
  padding: 30px 0;
  border-top: 1px solid #aaa;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f_left {
  color: #666;
}

.f_top {
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: -2px;
}

.f_top a:first-child {
  padding-right: 20px;
  color: #222;
  position: relative;
}

.f_top a:first-child:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0.5px;
  height: 9px;
  transform: translate(-50%, -50%);
  background: #666;
}

.copyright {
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: -1px;
  margin-top: 10px;
}

.f_right {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.f_sns {
  display: flex;
  gap: 0 5px;
}

.f_sns a {
  display: block;
  height: 20px;
}

.btn_family {
  width: 140px;
  padding: 5px 50px 5px 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
  cursor: pointer;
  position: relative;
}

.btn_family:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 1px;
  height: 20px;
  background: #ccc;
  transform: translate(-50%, -50%);
}

.btn_family:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  width: 8px;
  height: 5px;
  background: #aaa;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  transform: translate(-50%, -50%);
}

.btn_family ul {
  display: none;
  position: absolute;
  top: -166px;
  left: -1px;
  width: 140px;
  text-align: left;
  background: #fff;
  border: 1px solid #eee;
  overflow: hidden;
}

.btn_family ul.active {
  display: block;
}

.btn_family a {
  display: block;
  width: 100%;
  padding: 5px;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .h_top {
    width: 60%;
  }

  .h_bottom {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  header .container {
    display: block;
  }

  .h_top {
    width: 100%;
    border-bottom: 1px solid #aaa;
    border-right: 0;
  }

  .h_bottom {
    width: 100%;
  }

  .h_bottom ul {
    justify-content: center;
    gap: 0 10px;
    width: 100%;
  }

  .h_bottom li:not(:last-child) {
    padding-right: 0;
  }

  .h_bottom li:not(:last-child) a:before {
    width: 0;
  }

  /*Footer*/
  footer {
    padding: 30px 0 20px;
  }

  footer .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
    gap: 10px 0;
    padding: 0 30px;
  }

  .f_right {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px 0;
  }

  .f_sns {
    display: flex;
    gap: 0 5px;
  }

  .f_sns a {
    display: block;
    height: 20px;
  }

  .btn_family {
    width: 140px;
    padding: 5px 50px 5px 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
    cursor: pointer;
    position: relative;
  }

  .btn_family:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    width: 1px;
    height: 20px;
    background: #ccc;
    transform: translate(-50%, -50%);
  }

  .btn_family:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;
    width: 8px;
    height: 5px;
    background: #aaa;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    transform: translate(-50%, -50%);
  }

  .btn_family ul {
    display: none;
    position: absolute;
    top: -166px;
    left: -1px;
    width: 140px;
    text-align: left;
    background: #fff;
    border: 1px solid #eee;
    overflow: hidden;
  }

  .btn_family ul.active {
    display: block;
  }

  .btn_family a {
    display: block;
    width: 100%;
    padding: 5px;
  }
}
