@import url(reset.css);

/*Side_Menu*/
.side_menu {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 80px);
  padding: 20px;
  background: #fff;
  z-index: 20;
}

.side_menu .side_link {
  justify-content: center;
  padding: 10px 0;
}

.side_link {
  display: flex;
  gap: 0 10px;
}

.side_link li {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.side_link li:nth-child(1) {
  background: url(../images/culture/ico-sf.jpg) no-repeat center / cover;
}

.side_link li:nth-child(2) {
  background: url(../images/culture/ico-ssf.png) no-repeat center / cover;
}

.side_link li:nth-child(3) {
  background: url(../images/culture/ico-swf.png) no-repeat center / cover;
}

.side_link li:nth-child(4) {
  background: url(../images/culture/ico-hoam.png) no-repeat center / cover;
}

.side_link a {
  display: block;
  width: 100%;
  height: 100%;
}

.s_menu_wrap {
  display: flex;
  flex-direction: column;
}

.s_menu {
  display: flex;
  color: #5a5a5a;
  padding: 20px 0;
  border-bottom: 1px solid #666;
  word-break: keep-all;
}

.s_menu > * {
  flex: 1;
}

.s_menu > a {
  display: block;
  font-size: 1.125em;
  font-weight: 600;
}

.s_menu ul {
  padding: 10px 0;
}

.s_menu li {
  padding: 5px;
  border-radius: 5px;
}

.s_menu li:hover {
  background: #7cc8ff;
}

.s_menu a {
  display: flex;
  align-items: center;
  gap: 0 5px;
}

.s_menu span {
  display: flex;
  align-items: center;
  width: 20px;
  font-size: 1rem;
}

/*Header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  transition: 0.3s;
  z-index: 30;
}

header.active {
  background: #fff;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h_logo {
  display: block;
  width: 194px;
  min-width: 194px;
}

.h_logo img {
  display: block;
  width: 100%;
}

.h_menu {
  display: flex;
  gap: 0 30px;
  text-align: center;
  font-size: 1.125em;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
}

header.active .h_menu {
  color: #5a5a5a;
}

.h_menu .menu {
  padding: 12px 5px;
  text-align: center;
  position: relative;
}

.h_menu ul {
  display: none;
  position: absolute;
  left: 50%;
  width: 180px;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
  font-size: 0.8rem;
  text-align: left;
  color: #5a5a5a;
  background: #fff;
}

header.active .h_menu ul {
  border: 1px solid #ccc;
}

.h_menu ul a {
  display: flex;
  gap: 0 5px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
}

.h_menu ul a:hover {
  background: #7cc8ff;
}

.h_menu span {
  width: 20px;
  height: 20px;
}

.btn_sub_menu {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  background: #0095ff;
  cursor: pointer;
}

.btn_sub_menu span {
  display: block;
  position: absolute;
  left: 50%;
  width: 60%;
  height: 2px;
  background: #000;
  transform: translateX(-50%);
  transition: 0.3s;
}

.btn_sub_menu span:nth-child(2) {
  top: 12px;
}

.btn_sub_menu span:nth-child(3) {
  bottom: 11px;
}

.btn_sub_menu.active span:nth-child(1) {
  opacity: 0;
}

.btn_sub_menu.active span:nth-child(2) {
  top: auto;
  transform: translateX(-50%) rotate(45deg);
}
.btn_sub_menu.active span:nth-child(3) {
  bottom: auto;
  top: auto;
  transform: translateX(-50%) rotate(-45deg);
}

/*Main*/
/*Section Common*/
section {
  padding: 80px 0;
  word-break: keep-all;
}

.sec_title {
  font-size: 2.25em;
  margin-bottom: 30px;
}

.sec_content {
  display: flex;
  width: 100%;
  gap: 0 40px;
}

.sec_list {
  flex: 1;
  border-radius: 20px;
  overflow: hidden;
  color: #fff;
  position: relative;
  transition: 0.3s;
}

.sec_list:hover {
  transform: translateY(-5px);
  box-shadow: 0 3px 10px #666;
}

.sec_list:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  transition: 0.3s;
}

.sec_list:hover:before {
  filter: unset;
}

.sec_list a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
}

/*Section1*/
.sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: #fff;
  position: relative;
  padding: 0;
}

.sec1 .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/culture/head-main.jpg) no-repeat 0 0 / cover;
  filter: brightness(0.7);
  z-index: -1;
}

.sec1 .desc {
  margin-left: 40px;
  width: 80%;
}

.sec1 h1 {
  font-size: 3.75em;
  letter-spacing: -4px;
}

.sec1 p {
  margin-top: 20px;
  font-size: 1.5em;
  letter-spacing: -1px;
}

/*Section2*/
.sec2 ul {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  position: relative;
}

.sec2 a {
  display: inline-block;
  padding: 20px;
  height: 100%;
}

.sec2 .sec2_list {
  flex: unset;
  width: calc(50% - 15px);
  height: 240px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sec2_notice {
  position: absolute;
  width: 100%;
  left: calc(50% + 15px);
  top: -140px;
  background: #fff;
  border: 1px solid #eee;
}

.sec2_notice a {
  position: relative;
  color: #000;
}

.sec2_notice img {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 80px;
}

.sec2_list.sec2_list1 {
  height: 360px;
  background-image: url(../images/culture/card-banner-main-about.jpg);
}

.sec2_list2 {
  background-image: url(../images/culture/head-wana.jpg);
}

.sec2_list3 {
  background-image: url(../images/culture/card-banner-main-leeum.jpg);
}

.sec2_list4 {
  background-image: url(../images/culture/head-cultural-support-business.jpg);
}

.sec2_list.sec2_list5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 420px;
  font-size: 1.25em;
  border-radius: 20px;
  color: #fff;
  background-image: url(../images/culture/card-banner-main-history.jpg);
}

.sec2_list5 button {
  width: 200px;
  margin-top: 20px;
  padding: 20px 20px;
  background: transparent;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  text-align: left;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.sec2_list5 span {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.sec2_list5 button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 5px;
  height: 5px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg) translateY(-50%);
}

.sec2_list5 button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0095ff;
  transition: 0.4s;
}

.sec2_list5 button:hover:before {
  width: 110%;
}

/*Section3*/
.sec3 {
  background: #f9f9f9;
}

.sec3_list {
  height: 320px;
}

.sec3_list1:before {
  background: #eee url(../images/culture/card-banner-main-leeum-1.jpg) no-repeat
    center;
}

.sec3_list2:before {
  background: #eee url(../images/culture/card-banner-main-hoam.jpg) no-repeat
    center;
}

.sec3_list a {
  position: absolute;
}

/*Section4*/
.swiper li {
  height: 460px;
  background: #cceaff;
  border-radius: 20px;
  transition: 0.3s;
}

.swiper li:hover {
  transform: translateY(-5px);
  box-shadow: 0 3px 10px #666;
}

.swiper a {
  display: block;
  height: 100%;
  padding: 30px;
  position: relative;
}

.swiper img {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 50%;
  max-width: 140px;
}

.swiper p {
  font-size: 1.125em;
  color: #444;
}

.swiper h2 {
  font-weight: 400;
  margin-top: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px #ccc;
  filter: opacity(0.5);
  transition: filter 0.3s;
}

.swiper-button-next {
  transform: rotate(180deg);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  filter: opacity(1);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "" !important;
  inset: 10px;
  width: 15px;
  height: 15px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  border-top: 2px solid #0095ff;
  border-left: 2px solid #0095ff;
  transform: rotate(-45deg) translate(25%, 25%);
}

/*section5*/
.sec5_list {
  height: 240px;
  padding: 0 10px;
}

.sec5_list1:before {
  background: url(../images/culture/quick-banner-public-disclosure-of-management.jpg)
    no-repeat center / cover;
}

.sec5_list2:before {
  background: url(../images/culture/quick-banner-annaul-report.jpg) no-repeat
    center / cover;
}

/*Footer*/
footer {
  padding: 50px 0;
  background: #222;
  color: #9f9f9f;
  word-break: keep-all;
}

.f_top {
  display: flex;
  gap: 0 100px;
  position: relative;
}

.f_logo {
  width: 264px;
}

.f_address p {
  margin-bottom: 10px;
}

.f_sns {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: url(../images/culture/i_sns_facebook.svg);
}

.f_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  position: relative;
}

.f_link {
  position: absolute;
  top: 40px;
  right: 0;
  width: 60px;
}

.f_link1 {
  right: 70px;
}

.f_link img {
  width: 100%;
  height: 100%;
}

.f_bottom > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
}

.f_bottom a {
  transition: 0.3s;
}

.f_bottom a:hover {
  color: #ddd;
}

.f_btn_family {
  width: 200px;
  font-size: 1em;
  color: inherit;
  border: 1px solid #9f9f9f;
  text-align: left;
  padding: 5px 10px;
  position: relative;
  cursor: pointer;
}

.f_btn_family:before,
.f_btn_family:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 10px;
  height: 1.5px;
  background: #9f9f9f;
}

.f_btn_family:before {
  transform: rotate(-90deg) translateY(-25%);
}

.f_btn_family.active:before {
  opacity: 0;
}

.f_family_list {
  position: absolute;
  width: 100%;
  top: -245px;
  left: 50%;
  padding: 10px 5px;
  background: #fff;
  overflow: hidden;
  transform: translateX(-50%) scaleY(0);
  transform-origin: bottom;
  transition: 0.3s;
  border: 1px solid #000;
}

.f_family_list.active {
  transform: translateX(-50%) scaleY(1);
}

.f_family_list li {
  padding: 5px;
}

.f_family_list a:hover {
  color: #000;
}

@media screen and (max-width: 960px) {
  .wrapper {
    padding: 0 20px;
  }
  /*Header*/
  header .wrapper {
    padding: 5px 15px;
  }

  .h_menu {
    display: none;
  }

  .h_menu .menu {
    padding: 12px 5px;
    text-align: center;
    position: relative;
  }

  .h_link {
    display: none;
  }

  .btn_sub_menu {
    display: block;
  }

  /*Main*/
  /*Section Common*/
  section {
    padding: 40px 0;
  }
  .sec_title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .sec_content {
    flex-direction: column;
    gap: 10px 0;
  }

  .sec_list {
    flex: auto;
  }

  .sec_list h2 {
    font-size: 1.25em;
  }

  .sec_list a {
    font-size: 0.875em;
  }

  /*Section1*/
  .sec1 {
    height: 64vh;
  }

  .sec1 .desc {
    padding: 0 20px;
    margin: 0;
    width: 100%;
  }

  .sec1 h1 {
    font-size: 1.875em;
  }

  .sec1 p {
    font-size: 1.125em;
    letter-spacing: 0;
  }

  /*Section2*/
  .sec2 .sec2_list {
    width: 100%;
    height: 160px;
  }

  .sec2_notice {
    position: static;
    order: 2;
  }

  .sec2_notice img {
    width: 50px;
  }

  .sec2_list.sec2_list1 {
    height: 200px;
  }

  .sec2_list2 {
    order: 3;
  }

  .sec2_list3 {
    order: 1;
  }

  .sec2_list4 {
    order: 4;
  }

  .sec2_list.sec2_list5 {
    height: 280px;
    font-size: 0.9em;
    order: 5;
  }

  .sec2_list5 br {
    display: none;
  }

  .sec2_list5 button {
    width: 160px;
    margin-top: 20px;
    padding: 20px 20px;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    text-align: left;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .sec2_list5 span {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }

  .sec2_list5 button:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 5px;
    height: 5px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg) translateY(-50%);
  }

  .sec2_list5 button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0095ff;
    transition: 0.4s;
  }

  .sec2_list5 button:hover:before {
    width: 110%;
  }

  /*Section3*/
  .sec3_list {
    height: 200px;
  }

  /*Section4*/
  .swiper li {
    height: 340px;
  }

  .swiper img {
    bottom: 20px;
    right: 20px;
    width: 40%;
  }

  .swiper h2 {
    font-size: 1.25em;
  }

  /*Section5*/
  .sec5_list {
    height: 200px;
  }

  /*Footer*/
  footer {
    padding: 40px 0 10px;
  }
  .f_top {
    flex-direction: column;
    gap: 40px 0;
  }

  .f_logo {
    width: 190px;
  }

  .f_bottom {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    gap: 10px 0;
  }

  .f_link {
    top: 0;
    width: 45px;
  }

  .f_link1 {
    right: 55px;
  }

  .f_bottom > ul {
    order: -1;
  }

  .f_btn_family {
    width: 100%;
    padding: 10px 20px;
  }

  .f_btn_family:before,
  .f_btn_family:after {
    right: 20px;
  }
}
