@import url(reset.css);

.container {
  max-width: 1024px;
  padding: 0;
  margin: 0 auto;
}

/*Header*/
header {
  border-bottom: 1px solid #aaa;
  position: relative;
}

header .container {
  display: flex;
}

.h_top {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 15px 10px;
  border-right: 1px solid #aaa;
}

.h_logo {
  display: inline-block;
  width: 133px;
  height: 45px;
  background: url(../images/hoam/header.gif) no-repeat;
}

.btn_menu {
  width: 65px;
  height: 45px;
  background: url(../images/hoam/gnb.gif) no-repeat;
  background-position: -20px -15px;
  cursor: pointer;
}

.btn_menu.active {
  background-position: -212px -15px;
}

.h_bottom {
  width: 30%;
  padding: 15px 20px;
  color: #666;
  font-weight: 600;
}

.h_bottom ul {
  display: flex;
  align-items: center;
  width: 95%;
  height: 100%;
  letter-spacing: -1px;
  text-align: center;
}

.h_bottom li:not(:last-child) {
  padding-right: 10px;
}

.h_bottom a {
  display: block;
  position: relative;
  font-size: 0.8em;
}

.h_bottom li:first-child a {
  color: #b38f40;
}

.h_bottom li:not(:last-child) a:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -8px;
  width: 2px;
  height: 2px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #666;
}

.nav_wrap {
  display: none;
  border-top: 1px solid #aaa;
}

.nav_wrap nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 0;
  font-weight: 600;
  letter-spacing: -1px;
  color: #333;
}

.nav_wrap dl {
  position: relative;
  height: 100%;
  padding-left: 20px;
}

.nav_wrap dl:not(:first-child):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 92%;
  background: #ddd;
}

.nav_wrap dt {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.nav_wrap dd {
  font-size: 0.8em;
  color: #444;
  margin-bottom: 10px;
}

.nav_wrap dd:hover {
  color: #b38f40;
}

/*Main*/
.main_content {
  padding: 5px;
}

.main_content ul {
  display: grid;
  grid-template-columns: 500px 192px 308px;
  grid-template-areas:
    "a b c"
    "a d d"
    "a e f";
  gap: 5px;
}

.main_content li:not(:first-child) {
  background-image: url(../images/hoam/img_main_kor221129.png);
  background-repeat: no-repeat;
}

.main_content a {
  display: block;
  height: 100%;
}

.content1 {
  grid-area: a;
  background: url(../images/hoam/main_visual\(0\).jpg) no-repeat 0 0;
  height: 642px;
}

.content2 {
  grid-area: b;
  background-position: 0 -708px;
}

.content3 {
  grid-area: c;
  background-position: 0 0;
}

.content4 {
  grid-area: d;
  background-position: -20px -2858px;
}

.content5 {
  grid-area: e;
  background-position: 0 -946px;
}

.content6 {
  grid-area: f;
  background-position: 0 -472px;
}

/*Footer*/
footer {
  padding: 30px 0;
  border-top: 1px solid #eee;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f_left {
  color: #666;
}

.f_top {
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: -2px;
}

.f_top a:first-child {
  padding-right: 20px;
  color: #222;
  position: relative;
}

.f_top a:first-child:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0.5px;
  height: 9px;
  transform: translate(-50%, -50%);
  background: #666;
}

.copyright {
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: -1px;
  margin-top: 10px;
}

.f_right {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.f_sns {
  display: flex;
  gap: 0 5px;
}

.f_sns a {
  display: block;
  height: 20px;
}

.btn_family {
  width: 140px;
  padding: 3px 50px 3px 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #999;
  cursor: pointer;
  position: relative;
}

.btn_family:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 1px;
  height: 20px;
  background: #ccc;
  transform: translate(-50%, -50%);
}

.btn_family:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  width: 8px;
  height: 5px;
  background: #aaa;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  transform: translate(-50%, -50%);
}

.btn_family ul {
  /* display: none; */
  position: absolute;
  top: -166px;
  left: -1px;
  width: 140px;
  text-align: left;
  background: #fff;
  border: 1px solid #eee;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 0.3s;
}

.btn_family ul.active {
  /* display: block; */
  transform: scaleY(1);
}

.btn_family a {
  display: block;
  width: 100%;
  padding: 5px;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .h_top {
    width: 60%;
  }

  .h_bottom {
    width: 40%;
  }

  /*Main*/
  .main_content {
    padding: 5px;
  }

  .main_content ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a a"
      "b c"
      "d d"
      "e f";
    gap: 5px;
  }

  .main_content li:not(:first-child) {
    height: 169px;
  }

  .content1 {
    height: 405px;
    background-position: -642px 0;
  }

  .content2 {
    background-position: -219px -708px;
  }

  .content3 {
    background-position: -411px 0;
  }

  .content4 {
    background-position: -19px -3126px;
  }

  .content5 {
    background-position: -219px -946px;
  }

  .content6 {
    background-position: -411px -472px;
  }
}

@media screen and (max-width: 768px) {
  header .container {
    display: block;
  }

  .h_top {
    width: 100%;
    border-bottom: 1px solid #aaa;
    border-right: 0;
  }

  .h_bottom {
    width: 100%;
  }

  .h_bottom ul {
    justify-content: center;
    gap: 0 10px;
    width: 100%;
  }

  .h_bottom li:not(:last-child) {
    padding-right: 0;
  }

  .h_bottom li:not(:last-child) a:before {
    width: 0;
  }

  .nav_wrap {
    display: none;
    border-top: 1px solid #aaa;
    padding: 0 10px;
  }

  .nav_wrap nav {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 0;
    width: 280px;
  }

  /*Main*/
  .main_content {
    padding: 0;
  }

  .main_content ul {
    grid-template-columns: 100%;
    grid-template-areas:
      "b"
      "c"
      "d"
      "e"
      "f";
  }

  .main_content li:not(:first-child) {
    height: 182px;
  }

  .content1 {
    display: none;
  }

  .content2 {
    background-position: -19px -2144px;
  }

  .content3 {
    background-position: -19px -1436px;
  }

  .content4 {
    background-position: -19px -3351px;
  }

  .content5 {
    background-position: -19px -2382px;
  }

  .content6 {
    background-position: -19px -1907px;
  }

  /*Footer*/
  footer {
    padding: 30px 0 20px;
  }

  footer .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
    gap: 10px 0;
    padding: 0 30px;
  }

  .f_right {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px 0;
  }

  .btn_family {
    padding: 5px 50px 5px 5px;
    border: 1px solid #aaa;
  }
}
