/*Side_Menu*/
.side_menu {
  height: auto;
}

.s_menu li:hover {
  background: #ffdfa0;
}

.side_link li:nth-child(2) {
  background: url(../images/public/ico-scf.png) no-repeat center / cover;
}

.side_link li:nth-child(3) {
  background: url(../images/culture/ico-ssf.png) no-repeat center / cover;
}

/*Header*/
.h_menu ul {
  width: 230px;
}

.h_menu ul a:hover {
  background: #ffdfa0;
}

.btn_sub_menu {
  background: #ffdfa0;
}

/*Section1*/
.sec1 .bg {
  background: url(../images/welfare/head-main.jpg) no-repeat 0 0 / cover;
}

.sec2_list1:before {
  background: url(../images/welfare/head-about.jpg) no-repeat 0 0 / cover;
}

.sec2_list2:before {
  background: url(../images/welfare/head-dream-class2.jpg) no-repeat 0 0 / cover;
}

.sec2_list3:before {
  background: url(../images/welfare/head-samsung-childcare-center.jpg) no-repeat
    0 0 / cover;
}

.sec2_list4 {
  background: #ffdfa0;
  color: #000;
}

.sec2_list4 img {
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 20px;
  right: 20px;
}

.sec2_list5 button:before {
  background: #ffbb34;
}

/*Section4*/
.sec_wrapper {
  display: flex;
  gap: 0 20px;
  width: 100%;
}

.sec_wrapper li {
  flex: 1;
  height: 460px;
  border-radius: 20px;
  background: #ffedcb;
  transition: 0.3s;
}

.sec_wrapper li:hover {
  box-shadow: 0 3px 10px #ddd;
}

.sec_wrapper a {
  display: block;
  height: 100%;
  padding: 30px;
  position: relative;
}

.sec_wrapper img {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 50%;
  max-width: 140px;
}

/*Footer*/
.f_family_list {
  top: -215px;
}

@media screen and (max-width: 960px) {
  .sec_wrapper {
    flex-direction: column;
    gap: 15px 0;
  }

  .sec_wrapper li {
    flex: auto;
    height: 280px;
  }

  .sec_wrapper a {
    font-size: 0.75em;
  }
}
